body {
    background-color: rgb(117, 39, 39);
}

h2 {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 30;
  color: azure;
}

h1 {
  font-family: cursive;
  font-size: 4.5rem;
  color: rgb(136, 236, 141);
  margin-top: 100px; 
}

p {
  font-size: 1.5rem;
}


.what-to-do, .congrats-txt {
    font-family: monospace;
    font-size: 2rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-right: 20px;
}

#my-canvas {
    background-color: rgb(129, 51, 51);
    margin-top: -800;
  }
  
  #start-btn, #restart-btn {
    background-color: #05500c;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ruin {
    color: rgb(36, 136, 44);
    text-decoration-line: underline;
  }

/*  hiding canvas & gameover screen elements at the start */ 
  #my-canvas {
    display: none;
  }

  #score-screen {
    display: none;
  }
  
  #gameover-screen {
    display: none;
  }

  #gameover-screen {
    display: none;
  }

  #congrats-screen {
    display: none;
  }

  .intro-row {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;;
  }