@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Kalam:wght@300&display=swap');


body {
    background-color: black;
}

h2 {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 30;
  color: azure;
}

h1 {
  font-family: 'Are You Serious', cursive;
  font-size: 4em;
  color: rgb(136, 236, 141);
  margin-top: 3rem; 
}

p {
  font-size: 1rem;
}


.what-to-do, .congrats-txt {
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-right: 2rem;
}

#my-canvas {
    background-color: rgb(129, 51, 51);
    margin-top: 3rem;


  }
  
  #start-btn, #restart-btn, #restart-btn2 {
    background-color: rgb(201, 58, 58);
    color: white;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ruin {
    color: rgb(36, 136, 44);
    text-decoration-line: underline;
  }

/*  hiding canvas & gameover screen elements at the start */ 
  #my-canvas {
    display: none;
  }

  #score-screen {
    display: none;
  }
  
  #gameover-screen {
    display: none;
  }

  #gameover-screen {
    display: none;
  }

  #congrats-screen {
    display: none;
  }

  .intro-row {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
  }

  footer {
    font-family: monospace;
    color: white;
    font-size: 0.5rem;
  }